.author-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    width: 100%;


}

.author-image-card{
    position: relative;
}
.author-image-card img{
   height: 250px;
   width: 250px;
   background-image: linear-gradient(red, yellow, blue);
}
.overlay-div{
   
    background-color: black;
}
.author-detail{
    position: absolute;
    margin-top: 7em;
    text-align: left!important;
}